/* Solarized Theme
https://ethanschoonover.com/solarized/
$base03:    #002b36; 
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900; */

:root {
    --background-color: #073642;
    --color: #eee8d5;
    --display: flex;
    --flex-direction: row;
    --justify-content: center;
}
body {
    color: var(--color);
    background-color: var(--background-color);
    font-size: 24px;
    font-weight: 500;
}

#header {
    display: var(--display);
    flex-direction: var(--flex-direction);
    justify-content: var(--justify-content);
}

#header_btn {
    font-size: 18px;
    font-weight: 500;
    border-radius: 7px;
    margin: 8px;
    padding: 4px;
}

#construction {
    display: var(--display);
    flex-direction: var(--flex-direction);
    justify-content: var(--justify-content);
}